<%- include('../../fragment/header.ejs') %>
    <main>
        <script type="application/javascript" src="/js/validationOrderForm.js" defer></script>
        <h2>
            <%= pageTitle %>
        </h2>
        <form action="<%=formAction %>" method="post" class="form" novalidate onsubmit="return validateForm(event);">

            <input type="hidden" name="id" value="<%= order.id %>">


            <label for="carId">
                <th>
                    <%=__('orders.fields.car')%>
                </th>
            </label>
            <select class="<%= validationErrors.find(e=> e.path.includes('carId')) ? 'error-input' : '' %>" name="carId"
                id="carId" required <%=(formMode!='createNew' )?'disabled': '' %> >
                <option value="">---Select car---</option>
                <% for(let i=0; i<allCars.length; i++) { let car=allCars[i]; %>
                    <option value="<%= car.id %>" label="<%= car.carNumber + ' ' + car.model %>" <%=(order.carId &&
                        car.id==order.carId) ? 'selected' : '' %>>

                    </option>
                    <% } %>
            </select>
            <span id="errorCarId" class="errors-text">
                <% if(validationErrors.find(e=> e.path.includes('carId'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('carId')).message %>
                        <% } %>
            </span>



            <label for="service">
                <th>
                    <%=__('orders.fields.service')%>
                </th>
            </label>
            <select class="<%= validationErrors.find(e=> e.path.includes('service')) ? 'error-input' : '' %>"
                name="service" id="service" <%=(formMode=='showDetails' )?'disabled': '' %>>
                <option value="">
                    <%=__('orders.fields.selectService')%>
                </option>
                <option value="Clean the car" <%=(order.service=="Clean the car" ) ? 'selected' : '' %> >Clean the car
                </option>
                <option value="Change wheels" <%=(order.service=="Change wheels" ) ? 'selected' : '' %>>Change wheels
                </option>
                <option value="Dry-cleaning" <%=(order.service=="Dry-cleaning" ) ? 'selected' : '' %>>Dry-cleaning
                </option>
            </select>
            <span id="errorSerivce" class="errors-text">
                <% if(validationErrors.find(e=> e.path.includes('service'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('service')).message %>
                        <% } %>
            </span>


            <label for="status">
                <th>
                    <%=__('orders.fields.status')%>
                </th>
            </label>
            <select class="<%= validationErrors.find(e=> e.path.includes('status')) ? 'error-input' : '' %>"
                name="status" id="status" <%=(formMode=='showDetails' )?'disabled': '' %>>
                <option value="">-- Choose Status --</option>
                <option value="Complete" <%=(order.status=="Complete" ) ? 'selected' : '' %> >Complete</option>
                <option value="In progress" <%=(order.status=="In progress" ) ? 'selected' : '' %>>In progress</option>
                <option value="Queued" <%=(order.status=="Queued" ) ? 'selected' : '' %>>Queued</option>
            </select>
            <span id="errorStatus" class="errors-text">
                <% if(validationErrors.find(e=> e.path.includes('status'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('status')).message %>
                        <% } %>
            </span>



            <label for="dateOfOrder">
                <th>
                    <%=__('orders.fields.dateOfOrder')%>
                </th>
            </label>
            <input class="<%= validationErrors.find(e=> e.path.includes('dateOfOrder')) ? 'error-input' : '' %>"
                type="date" name="dateOfOrder" id="dateOfOrder"
                value="<%= order.dateOfOrder && typeof order.dateOfOrder !== 'string' ? order.dateOfOrder.toISOString().split('T')[0] : order.dateOfOrder %>"
                <%=(formMode=='showDetails' )?'disabled': '' %> />
            <script>
                document.querySelector("input#dateOfOrder").min = (new Date()).toISOString().split('T')[0];
            </script>
            <span id="errorDateOfOrder" class="errors-text">
                <% if(validationErrors.find(e=> e.path.includes('dateOfOrder'))) { %>
                    <%= validationErrors.find(e=> e.path.includes('dateOfOrder')).message %>
                        <% } %>


            </span>

            <% if (loggedUser.isAdmin && formMode=='showDetails' ) { %>
                <div class="section-buttons">
                    <a href=" /orders/edit/<%= order.id %> " class="button-add">
                        <%=__('list.actions.edit')%>
                    </a>
                </div>
                <% } %>

                    <% if (formMode=='showDetails' || formMode=='edit' ) { %>
                        <div style="grid-column: 1 / span 3">
                            <h2>
                                <th>
                                    <%=__('orders.form.details.tableName')%>
                                </th>
                            </h2>
                            <table class="table-list">
                                <thead>
                                    <tr>
                                        <th>
                                            <%=__('car.fields.carNumber')%>
                                        </th>
                                        <th>
                                            <%=__('own.fields.firstName')%>
                                        </th>
                                        <th>
                                            <%=__('own.fields.email')%>
                                        </th>
                                        <th>
                                            <%=__('car.fields.model')%>
                                        </th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <% let car=order.cars; %>
                                        <tr>
                                            <td>
                                                <%= car.carNumber %>
                                            </td>
                                            <td>
                                                <%= car.owners.firstName %>
                                            </td>
                                            <td>
                                                <%= car.owners.email %>
                                            </td>
                                            <td>
                                                <%= car.model %>
                                            </td>
                                        </tr>
                                </tbody>
                            </table>
                        </div>
                        <% } %>

                            <div class="form-buttons">
                                <p id="errorsSummary" class="errors-text"> </p>
                                <% if (formMode !='showDetails' ) { %>
                                    <input type="submit" class="form-button-submit" value="<%=btnLabel%>" />
                                    <a href="/orders" class="form-button-cancel">
                                        <%=__('form.actions.cancel')%>
                                    </a>
                                    <% } else { %>
                                        <a href="/orders" class="form-button-cancel">
                                            <%=__('form.actions.return')%>
                                        </a>
                                        <% } %>

                            </div>
        </form>
        <div style="display: none">
            <span id="errorRequired">
                <%= __('validationMessage.fieldRequired') %>
            </span>
            <span id="errorDateFormat">
                <%= __('validationMessage.dateFormat') %>
            </span>
            <span id="errorForm">
                <%= __('validationMessage.formHasError') %>
            </span>
        </div>



    </main>
    <%- include('../../fragment/footer.ejs') %>