<%- include('../../fragment/header.ejs') %>
    <main>
        <h2><%=__('table-main.engineP')%></h2>
        <table  class="table-list">
            <thead>
                <tr>
                    <th><%=__('engine.fields.engineSeries')%></th>
                    <th><%=__('engine.fields.size')%></th>
                    <th><%=__('engine.fields.weight')%></th>
                    <th><%=__('engine.fields.provider')%>pr</th>
                    <th><%=__('engine.fields.material')%></th>
                    <% if (loggedUser) { %>
                    <th><%=__('list.actions.title')%></th>
                    <% } %>

                </tr>
            </thead>
        
            <tbody>
                <% for(let engine of engines) { %> 
                <tr>
                    <td><%= engine.id %></td>
                    <td><%= engine.engineSize %></td>
                    <td><%= engine.engineWeight %></td>
                    <td><%= engine.provider %></td>
                    <td><%= engine.material %></td>
                    <% if (loggedUser) { %>
                    <td>
                        <ul class="list-actions">
                            <li>
                                <a href = "../engines/details/<%= engine.id%>" class="list-actions-button-details">
                                    <i class="fa-solid fa-circle-info"></i>
                                </a>
                            </li>
                            <% if (loggedUser.isAdmin) { %>
                            <li>
                                <a href = "../engines/edit/<%= engine.id%>" class="list-actions-button-edit">
                                    <i class="fa-sharp fa-solid fa-pen-to-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "../engines/delete/<%= engine.id%>" class="list-actions-button-delete">
                                    <i class="fa-solid fa-trash"></i>
                                </a>
                            </li>
                            <% } %>
                        </ul>
                    </td>
                    <% } %>


                </tr>
                <% } %> 
            </tbody>
        </table>
        <% if (loggedUser && loggedUser.isAdmin) { %>
            <p><a href="../engines/add" class="button-add"><%=__('engine.list.addNew')%></a></p> 
        <% } %>  
    </main>
    <%- include('../../fragment/footer.ejs') %> 